.box{
    text-align: justify;
    margin-bottom: 15px;
}

.Title{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;

}

.Text{
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    &:first-letter {
        margin-left: 15px;
      }
}