.listCehGroupBox:last-child{
    margin-bottom: 50px;
}
.cehGroupBox{
    margin-bottom: 20px;
}
// .listContainer{

// }
.listBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.listBox > * {
    // flex-grow: auto;
    width: 170px; 
}

.learnListBox{
    grid-template-columns: 100%;
    display: grid;
    grid-gap: 10px;
}
.titleCeh{
    font-family: var(--family);
    font-weight: 700;
    margin-bottom: 10px;
}
.buttonGroup{
    position: fixed;
    z-index: 799;
    bottom: 10px;
    left: 15px;
}
.toggleButton{
    font-family: var(--family);
    position: absolute;
    padding:1px 30px 1px 30px !important;
    border-radius: 10px;
}

.noEmpty{
    font-family: var(--family);
    font-size: 22px;
    font-weight: 500;
    color: #8c8c8c;
    text-align: center;
}

