.form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(130, 124, 124);
}
.titleForm{
    font-family: var(--family);
    font-weight: 700;
    margin-bottom: 15px;
}
.boxFormInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formLabel{
    font-family: var(--family);
    font-weight: 400;
    // font-style: italic;
    margin-bottom: 5px;
}

.formInput{
    font-family: var(--family);
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
}

.errorInput{
    border: solid 1px red ;

}

.erorrRequired{
    font-family: var(--family);
    color: red;
}

.submitBtn{
    font-family: var(--family);
    background-color: var(--ACCENT-COLOR);
    border-color: var(--ACCENT-COLOR) !important;
}