.listBtnMenu{
    padding: 0;
    margin-bottom: 10px;
    display: flex;
}

.itemBtnMenu:not(:last-child){
    margin-right: 15px;
}

.pill{
    background-color: var(--DIVIDER-COLOR) !important;
    color: var(--PRIMARY-TEXT-COLOR);
}

