.headerTitleMenu{
    font-family: var(--family);
    font-weight: 800;
}

.navLists{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-family: var(--family);
    font-weight: 700;
    border-bottom: solid 1px;
    padding: 5px 5px 5px 3px ;
    &:hover,
    :focus {
        border-bottom: none;
        border-radius: 5px;
        color: var(--TEXT-ICONS-COLOR);
        border-color: var(--DARK-PRIMARY-COLOR);
        background-color: var(--DARK-PRIMARY-COLOR);
        box-shadow: 0 0 3px 1px;
    }
}
.subTitle{
    font-family: var(--family);
    width: 100%;
    margin-left: 10px;
    font-weight: bold;
    border-bottom: solid 1px;
    padding: 5px 5px 5px 3px ;

    &:hover,
    :focus {
        border-bottom: none;
        border-radius: 5px;
        color: var(--TEXT-ICONS-COLOR);
        border-color: var(--DARK-PRIMARY-COLOR);
        background-color: var(--DARK-PRIMARY-COLOR);
        box-shadow: 0 0 3px 1px;
    }


}
