.headerLearnCard {
  font-family: var(--family) !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.bodyTextLearnCard {
  font-family: var(--family) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.bodyAmountLearnCard{
  font-family: var(--family) !important;
  text-align:center;
  color: #8c8c8c;
  font-weight: 400 !important;
  font-size: 14px !important;
}
.spanbBodyAmountLearnCard{
  color: #8c8c8c;
}
