@import '~bootstrap/scss/bootstrap';
@import 'modern-normalize/modern-normalize';

:root {
  --family: 'Balsamiq Sans', cursive;
  --color-blue: hsl(270deg 75% 60%);
  --color-green: #3ec23e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Brush Script MT',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}