.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.titleForm{
    font-family: var(--family);
    font-weight: 700;
    margin-bottom: 15px;
}
.boxFormInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formLabel{
    font-family: var(--family);
    font-weight: 400;
    // font-style: italic;
    margin-bottom: 5px;
    transition: all 0.1s ease;
}

.formInput{
    font-family: var(--family);
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    min-height: 40px;
    padding: 5px;
    transition: all 0.1s ease;
}
.formInputAmountSpan {
    position: relative;
    width: 100%;
  
    &::before {
      content: "гр.";
      position: absolute;
      top: 1px;
      right: 1px;
      height: 38px;
      width: 40px;
      display: flex;
      background-color: #d4d2d094;
      align-items: center;
      justify-content: center;
      border-radius: 0 5px 5px 0;
    }
  }
.formInputIngredients{
  height: 80px;
  line-height: 20px;
}

.formInputDescription{
    height: 120px;
}

.errorLable{
    color: red;
  }

.errorInput{
    border: solid 1px red ;
}

.erorrRequired{
    font-family: var(--family);
    font-style: italic;
    color: red;
}

.submitBtn{
    font-family: var(--family);
    background-color: var(--ACCENT-COLOR);
    border-color: var(--ACCENT-COLOR) !important;
}

.buttonUpload{
    font-family: var(--family);;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 5px;
    width: 40%;
}

.spanUpload{
    font-family: var(--family);;
    margin-left: 10px;
    font-size: 15px;
    color: #aaa;
}


  @media screen and (min-width: 820px) {
    .boxForm{
        display: flex;
        justify-content: center;
    }
    .form {
      width: 60%;
    }
  }
